@import '../../styles/styles.scss';

$form-max-width: 180px;

.form-content {
    max-width: $form-max-width;
}

.btn-size {
    width: $form-max-width;
}

.padding-top {
    padding-top: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.float-right {
    float: right;
}

.width-100 {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}