@import '../../styles/styles.scss';

.margin-top-half-vh {
    margin-top: 30vh;
}

.error {
    color: $error;
}

.success {
    color: $success;
}

.clear-button {
    display: block;
    visibility: hidden;
}

.carousel:hover .clear-button {
    display: block;
    visibility: visible;
    margin: auto;
}